{% extends '_base_profile.html'%}
{% set location="Home > My profile" %}
{% set account_name="Volodya" %}
{% block content %}
<nav>
  <nav class="header-profile">
    <p>PERSONAL INFORMATION</p>
    <a href="profile-account.html">ACCOUNT INFORMATION</a>
  </nav>
</nav>
<nav class="line">
  <div id="line1">icu</div>
  <div id="line2">icu</div>
</nav>

<nav class="cutform">
  <nav class="photo-profile">
    <img src="photo.png" id="logo">
    <nav id="together">
      <i class="fas fa-pen"></i>
      <a href="#">Change photo</a>
    </nav>
  </nav>
  <nav class="inputs1">
    <nav class="inputpp1" id="comb1">
      <p>FIRST NAME</p>
      <input type="text" class="inputprofile">
    </nav>
    <nav class="inputpp1" id="comb2">
      <p>TITLE</p>
      <input type="text" class="inputprofile">
    </nav>
    <nav class="inputpp1" id="comb3">
      <p>COUNTRY</p>
      <input type="text" class="inputprofile">
    </nav>
  </nav>
  <nav class="inputs2">
    <nav class="inputpp2" id="comb4">
      <p>LAST NAME</p>
      <input type="text" class="inputprofile">
    </nav>
    <nav class="inputpp2" id="comb5">
      <p>MOBILE PHONE</p>
      <input type="text" class="inputprofile">
    </nav>
    <nav class="inputpp2" id="comb6">
      <p>COMPANY</p>
      <input type="text" class="inputprofile">
    </nav>
  </nav>
</nav>


{% endblock %}