body {
  background-color: rgb(218, 210, 210);
  margin: 0px;
  display: flex;
  flex-direction: row;
  height: 100%;
}
input[type="text"],
input[type="password"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
}

aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60px;
  background-color: rgb(58, 58, 59);
  height: 100vh;
  // margin-top: -4%;
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    i {
      margin-top: 80px;
      font-size: 25px;
      color: rgb(110, 110, 110);
    }
    i:hover {
      color: white;
    }
  }
  #logo {
    width: 60px;
  }
}

.wrapper {
  width: 100%;
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding: 4.6px;
    p {
      font-family: "Roboto", sans-serif;
    }
  }

  .div-profile {
    display: flex;
    justify-content: center;
    .form-profile {
      display: flex;
      justify-content: center;
      margin-top: 5%;
      width: 90%;
      background-color: rgb(255, 255, 255);
      border-radius: 5px;
      .nav-profile {
        width: 1000px;
        display: flex;
        flex-direction: column;
        height: 550px;
        p,
        a {
          font-family: "Roboto", sans-serif;
        }
        .header-profile {
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin-top: 30px;
          p {
            font-weight: 700;
          }
          a {
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            color: rgb(173, 170, 170);
          }
          a:hover {
            text-decoration: none;
            color: black;
            border-bottom-color: rgba(208, 64, 0, 0.2);
          }
        }
        .line {
          height: 3px;
          margin-bottom: 50px;
          display: flex;
          #line1 {
            background-color: black;
            width: 500px;
            color: white;
          }
          #line2 {
            background-color: rgb(173, 170, 170);
            width: 500px;
            color: white;
          }
        }
        .inputs {
          display: flex;
          flex-direction: row;
          // justify-content: space-around;
          .comb1,
          .comb2 {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            margin-right: 8%;
            input {
              margin-bottom: 20px;
              border-radius: 5px;
              border: 3px solid rgb(167, 161, 161);
              height: 35px;
              font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
                sans-serif;
              font-size: 18px;
              width: 300px;
            }
            p {
              font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
                sans-serif;
              font-size: 16px;
              margin-bottom: 10px;
            }
            a{
              display: flex;
              justify-content: end;
            }
            input:hover {
              box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
            }
            input:focus {
              border-left-color: blue;
              border-width: 3px;
            }
          }
        }

        .cutform {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          p {
            font-size: 14px;
            margin-bottom: 3px;
          }

          .photo-profile {
            display: flex;
            flex-direction: column;
            #together {
              display: flex;
              justify-content: center;
              width: 100%;
              a {
                text-decoration: none;
                font-family: "Roboto", sans-serif;
                font-weight: 500;
              }
              a:hover {
                text-decoration: none;
                color: #cf0000;
                border-bottom-color: rgba(208, 64, 0, 0.2);
              }
            }
            #logo {
              border-radius: 100px;
              width: 200px;
            }
          }
          .inputs1 {
            display: flex;
            flex-direction: column;
          }
          .inputs2 {
            display: flex;
            flex-direction: column;
          }
          .inputs1,
          .inputs2 {
            .inputpp1,
            .inputpp2 {
              margin-bottom: 20px;
            }
            nav {
              input {
                margin-bottom: 20px;
                border-radius: 5px;
                border: 3px solid rgb(167, 161, 161);
                height: 35px;
                font-family: "Gill Sans", "Gill Sans MT", Calibri,
                  "Trebuchet MS", sans-serif;
                font-size: 18px;
                width: 300px;
              }
              input:hover {
                box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
              }
              input:focus {
                border-left-color: blue;
                border-width: 3px;
              }
            }
          }
        }
      }
    }
  }
}
.link-form {
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}
.link-form:hover{
  text-decoration: none;
  color: #cf0000;
  border-bottom-color: rgba(208, 64, 0, 0.2);
}
